doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .wrapper
      a.brand(href='https://openrct2.website') OpenRCT2
      h2 Master Server
      block content
